<div id="gpsModel" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 style="font-weight: bold;" class="modal-title">See your location on your device</h4>
            </div>
            <div class="modal-body">
                <table border="1" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td valign="top" style="width:348.4pt;border:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;">
                                <h2 style="margin-right:0in;margin-bottom:6.0pt;margin-left:0in;line-height:24.0pt;background:white;">
                                    <span style="font-size:13.0pt;font-family:'Helvetica','sans-serif';color:#212121;font-weight: bold;">See your location on your Computer
                                        <o:p></o:p>
                                    </span>
                                </h2>
                                <p class="MsoNormal" style="margin-right:0in;margin-bottom:3.0pt;margin-left:15.0pt;text-indent:-.25in;background:white;vertical-align:baseline;">
                                    <!--[if !supportLists]-->
                                    <span style="font-size:10.5pt;font-family:'Helvetica','sans-serif';color:#212121">
                                        <span>1.
                                            <span style="font:7.0pt 'Times New Roman'">&nbsp;&nbsp;&nbsp; </span>
                                        </span>
                                    </span>
                                    <!--[endif]-->
                                    <span dir="LTR"></span>
                                    <span style="font-size:10.5pt;font-family:'Helvetica','sans-serif';color:#212121">On your computer, open&nbsp;
                                        <a href="https://www.google.com/maps" target="_blank">
                                            <span style="color:#7759AE;text-decoration:none">Google Maps</span>
                                        </a>.
                                        <o:p></o:p>
                                    </span>
                                </p>
                                <p class="MsoNormal" style="margin-right:0in;margin-bottom:3.0pt;margin-left:15.0pt;text-indent:-.25in;background:white;vertical-align:baseline;">
                                    <!--[if !supportLists]-->
                                    <span style="font-size:10.5pt;font-family:'Helvetica','sans-serif';color:#212121">
                                        <span>2.
                                            <span style="font:7.0pt 'Times New Roman'">&nbsp;&nbsp;&nbsp; </span>
                                        </span>
                                    </span>
                                    <!--[endif]-->
                                    <span dir="LTR"></span>
                                    <span style="font-size:10.5pt;font-family:'Helvetica','sans-serif';color:#212121">In the bottom right, click My location&nbsp;
                                        <img border="0" width="18" height="18" id="Picture_x0020_7" src="public/images/location.png" alt="My location">. The blue dot shows where you are
                                        <o:p></o:p>
                                    </span>
                                </p>
                                <p class="MsoNormal" style="margin-right:0in;margin-bottom:6.0pt;margin-left:0in;line-height:24.0pt;background:white;">
                                    <b>
                                        <span style="font-size:13.0pt;font-family:'Helvetica','sans-serif';color:#212121">See your location on your
                                            <a href="https://support.google.com/maps/answer/2839911?hl=en&amp;api_client=help_panel&amp;authuser=0&amp;co=GENIE.Platform%3DAndroid&amp;oco=1">
                                                <span style="color:#212121;text-decoration:none">ANDROID</span>
                                            </a>
                                            <o:p></o:p>
                                        </span>
                                    </b>
                                </p>
                                <p class="MsoNormal" style="margin-right:0in;margin-bottom:3.0pt;margin-left:15.0pt;text-indent:-.25in;background:white;vertical-align:baseline;">
                                    <!--[if !supportLists]-->
                                    <span style="font-size:10.5pt;font-family:'Helvetica','sans-serif';color:#212121">
                                        <span>1.
                                            <span style="font:7.0pt 'Times New Roman'">&nbsp;&nbsp;&nbsp; </span>
                                        </span>
                                    </span>
                                    <!--[endif]-->
                                    <span dir="LTR"></span>
                                    <span style="font-size:10.5pt;font-family:'Helvetica','sans-serif';color:#212121">On your Android phone or tablet, open the Google Maps app&nbsp;
                                        <img border="0" width="18" height="18" id="Picture_x0020_4" src="public/images/map.png" alt="Google Maps">.
                                        <o:p></o:p>
                                    </span>
                                </p>
                                <p class="MsoNormal" style="margin-right:0in;margin-bottom:3.0pt;margin-left:15.0pt;text-indent:-.25in;background:white;vertical-align:baseline;">
                                    <!--[if !supportLists]-->
                                    <span style="font-size:10.5pt;font-family:'Helvetica','sans-serif';color:#212121">
                                        <span>2.
                                            <span style="font:7.0pt 'Times New Roman'">&nbsp;&nbsp;&nbsp; </span>
                                        </span>
                                    </span>
                                    <!--[endif]-->
                                    <span dir="LTR"></span>
                                    <span style="font-size:10.5pt;font-family:'Helvetica','sans-serif';color:#212121">You’ll see a blue dot, which shows where you are. If you don’t see a blue dot, go to&nbsp;the
                                        bottom and&nbsp;tap Your location&nbsp;
                                        <img border="0" width="18" height="18" id="_x0000_i1038" src="public/images/location.png" alt="My location">.
                                        <o:p></o:p>
                                    </span>
                                </p>
                                <h2 style="margin-right:0in;margin-bottom:6.0pt;margin-left:0in;line-height:24.0pt;background:white;">
                                    <span style="font-size:13.0pt;font-family:'Helvetica','sans-serif';color:#212121;font-weight: bold;">See your location on your iPhone or iPad</span>
                                    <span style="font-family:'Helvetica','sans-serif';color:#212121;font-weight:normal">
                                        <o:p></o:p>
                                    </span>
                                </h2>
                                <p class="MsoNormal" style="margin-right:0in;margin-bottom:3.0pt;margin-left:15.0pt;text-indent:-.25in;background:white;vertical-align:baseline;">
                                    <!--[if !supportLists]-->
                                    <span style="font-size:10.5pt;font-family:'Helvetica','sans-serif';color:#212121">
                                        <span>1.
                                            <span style="font:7.0pt 'Times New Roman'">&nbsp;&nbsp;&nbsp; </span>
                                        </span>
                                    </span>
                                    <!--[endif]-->
                                    <span dir="LTR"></span>
                                    <span style="font-size:10.5pt;font-family:'Helvetica','sans-serif';color:#212121">On your iPhone or iPad, open the Google Maps app&nbsp;
                                        <img border="0" width="18" height="18" id="Picture_x0020_6" src="public/images/map.png" alt="Google Maps">.
                                        <o:p></o:p>
                                    </span>
                                </p>
                                <p class="MsoNormal" style="margin-right:0in;margin-bottom:3.0pt;margin-left:15.0pt;text-indent:-.25in;background:white;vertical-align:baseline;">
                                    <!--[if !supportLists]-->
                                    <span style="font-size:10.5pt;font-family:'Helvetica','sans-serif';color:#212121">
                                        <span>2.
                                            <span style="font:7.0pt 'Times New Roman'">&nbsp;&nbsp;&nbsp; </span>
                                        </span>
                                    </span>
                                    <!--[endif]-->
                                    <span dir="LTR"></span>
                                    <span style="font-size:10.5pt;font-family:'Helvetica','sans-serif';color:#212121">You’ll see a blue dot, which shows where you are. If you don’t see a blue dot, go to
                                        the bottom right and tap Your&nbsp;location&nbsp;
                                        <img border="0" width="18" height="18" id="Picture_x0020_5" src="public/images/location.png" alt="My location">.
                                        <o:p></o:p>
                                    </span>
                                </p>
                                <p class="MsoNormal">
                                    <span style="color:#1F497D">
                                        <o:p>&nbsp;</o:p>
                                    </span>
                                </p>
                            </td>
                            <td width="475" valign="top" style="width:356.1pt;border:solid windowtext 1.0pt;border-left:none;padding:0in 5.4pt 0in 5.4pt;">
                                <h2 dir="RTL" style="margin-right:0in;margin-bottom:6.0pt;margin-left:0in;text-align:right;line-height:24.0pt;background:white;direction:rtl;unicode-bidi:embed;">
                                    <span lang="AR-SA" style="font-size:14.0pt;color:#212121">لاطلاع على موقعك الحالي عن طريق الكمبيوتر</span>
                                    <span dir="LTR" style="font-size:16.0pt;font-family:'Helvetica','sans-serif';color:#212121">
                                        <o:p></o:p>
                                    </span>
                                </h2>
                                <p class="MsoNormal" dir="RTL" style="margin-right:0in;margin-bottom:3.0pt;margin-left:15.0pt;text-align:right;text-indent:-.25in;background:white;vertical-align:baseline;direction:rtl;unicode-bidi:embed;">
                                    <!--[if !supportLists]-->
                                    <span style="font-size:10.5pt;font-family:'Helvetica','sans-serif';color:#212121;margin-right: 22px;">
                                        <span>1.
                                            <span style="font:7.0pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                                        </span>
                                    </span>
                                    <!--[endif]-->
                                    <span dir="RTL"></span>
                                    <span lang="AR-SA" style="font-size:10.5pt;color:#212121">افتح</span>
                                    <span dir="LTR"></span>
                                    <span dir="LTR"></span>
                                    <span dir="LTR" style="font-size:10.5pt;font-family:'Helvetica','sans-serif';color:#212121">
                                        <span dir="LTR"></span>
                                        <span dir="LTR"></span>&nbsp;
                                        <a href="https://www.google.ae/maps" target="_blank">
                                            <span lang="AR-SA" dir="RTL" style="font-family:'Calibri','sans-serif';color:#7759AE;text-decoration:none">خرائط</span>
                                            <span dir="LTR"></span>
                                            <span dir="LTR"></span>
                                            <span style="color:#7759AE;text-decoration:none">
                                                <span dir="LTR"></span>
                                                <span dir="LTR"></span> Google</span>
                                            <span dir="RTL"></span>
                                            <span dir="RTL"></span>
                                            <span lang="AR-SA" dir="RTL" style="font-family:'Calibri','sans-serif';color:#7759AE;text-decoration:none">
                                                <span dir="RTL"></span>
                                                <span dir="RTL"></span>&rlm;</span>
                                        </a>
                                        <span dir="LTR"></span>
                                        <span dir="LTR"></span>
                                        <span dir="LTR"></span>
                                        <span dir="LTR"></span>&nbsp;</span>
                                    <span lang="AR-SA" style="font-size:10.5pt;color:#212121">على جهاز الكمبيوتر</span>
                                    <span dir="LTR"></span>
                                    <span dir="LTR"></span>
                                    <span dir="LTR" style="font-size:10.5pt;font-family:'Helvetica','sans-serif';color:#212121">
                                        <span dir="LTR"></span>
                                        <span dir="LTR"></span>.
                                        <o:p></o:p>
                                    </span>
                                </p>
                                <p class="MsoNormal" dir="RTL" style="margin-right:0in;margin-bottom:3.0pt;margin-left:15.0pt;text-align:right;text-indent:-.25in;background:white;vertical-align:baseline;direction:rtl;unicode-bidi:embed;">
                                    <!--[if !supportLists]-->
                                    <span style="font-size:10.5pt;font-family:'Helvetica','sans-serif';color:#212121;margin-right: 22px;">
                                        <span>2.
                                            <span style="font:7.0pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                                        </span>
                                    </span>
                                    <!--[endif]-->
                                    <span dir="RTL"></span>
                                    <span lang="AR-SA" style="font-size:10.5pt;color:#212121">انقر على موقعي</span>
                                    <span dir="LTR"></span>
                                    <span dir="LTR"></span>
                                    <span dir="LTR" style="font-size:10.5pt;font-family:'Helvetica','sans-serif';color:#212121">
                                        <span dir="LTR"></span>
                                        <span dir="LTR"></span>&nbsp;
                                        <img border="0" width="18" height="18" id="Picture_x0020_8" src="public/images/location.png" alt="الموقع">&nbsp;</span>
                                    <span lang="AR-SA" style="font-size:10.5pt;color:#212121">في أسفل اليسار. تظهر النقطة الزرقاء موقعك الفعلي</span>
                                    <span dir="LTR"></span>
                                    <span dir="LTR"></span>
                                    <span dir="LTR" style="font-size:10.5pt;font-family:'Helvetica','sans-serif';color:#212121">
                                        <span dir="LTR"></span>
                                        <span dir="LTR"></span>.
                                        <o:p></o:p>
                                    </span>
                                </p>
                                <p class="MsoNormal" dir="RTL" style="margin-right:0in;margin-bottom:3.0pt;margin-left:15.0pt;text-align:right;background:white;vertical-align:baseline;direction:rtl;unicode-bidi:embed;">
                                    <span lang="AR-SA" style="font-size:10.5pt;color:#212121">
                                        <o:p>&nbsp;</o:p>
                                    </span>
                                </p>
                                <p class="MsoNormal" dir="RTL" style="margin-right:0in;margin-bottom:6.0pt;margin-left:0in;text-align:right;line-height:24.0pt;background:white;direction:rtl;unicode-bidi:embed;">
                                    <b>
                                        <span lang="AR-SA" style="font-size:14.0pt;font-family:'Times New Roman','serif';color:#212121">لاطلاع</span>
                                    </b>
                                    <span lang="AR-SA" style="font-size:14.0pt;color:#212121"> </span>
                                    <b>
                                        <span lang="AR-SA" style="font-size:14.0pt;font-family:'Times New Roman','serif';color:#212121">موقعك الحالي على الخريطة بنظام التشغيل أندرويد</span>
                                    </b>
                                    <b>
                                        <span dir="LTR" style="font-size:16.0pt;font-family:'Helvetica','sans-serif';color:#212121">
                                            <o:p></o:p>
                                        </span>
                                    </b>
                                </p>
                                <p class="MsoNormal" dir="RTL" style="margin-right:0in;margin-bottom:3.0pt;margin-left:15.0pt;text-align:right;text-indent:-.25in;background:white;vertical-align:baseline;direction:rtl;unicode-bidi:embed;">
                                    <!--[if !supportLists]-->
                                    <span style="font-size:10.5pt;font-family:'Helvetica','sans-serif';color:#212121;margin-right: 22px;">
                                        <span>1.
                                            <span style="font:7.0pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                                        </span>
                                    </span>
                                    <!--[endif]-->
                                    <span dir="RTL"></span>
                                    <span lang="AR-SA" style="font-size:10.5pt;font-family:'Times New Roman','serif';color:#212121">افتح تطبيق خرائط</span>
                                    <span dir="LTR"></span>
                                    <span dir="LTR"></span>
                                    <span lang="AR-SA" dir="LTR" style="font-size:10.5pt;font-family:'Helvetica','sans-serif';color:#212121">
                                        <span dir="LTR"></span>
                                        <span dir="LTR"></span>
                                    </span>
                                    <span lang="AR-SA" style="font-size:10.5pt;font-family:'Times New Roman','serif';color:#212121">جوجل</span>
                                    <span dir="LTR"></span>
                                    <span dir="LTR"></span>
                                    <span dir="LTR" style="font-size:10.5pt;font-family:'Helvetica','sans-serif';color:#212121">
                                        <span dir="LTR"></span>
                                        <span dir="LTR"></span>&nbsp;
                                        <img border="0" width="18" height="18" id="Picture_x0020_10" src="public/images/map.png" alt="خرائط Google">&nbsp;</span>
                                    <span lang="AR-SA" style="font-size:10.5pt;font-family:'Times New Roman','serif';color:#212121">على هاتفك أو جهازك اللوحي الذي يعمل بنظام التشغيل</span>
                                    <span dir="LTR"></span>
                                    <span dir="LTR"></span>
                                    <span lang="AR-SA" dir="LTR" style="font-size:10.5pt;font-family:'Helvetica','sans-serif';color:#212121">
                                        <span dir="LTR"></span>
                                        <span dir="LTR"></span>
                                    </span>
                                    <span lang="AR-SA" style="font-size:10.5pt;font-family:'Times New Roman','serif';color:#212121">أندرويد</span>
                                    <span dir="LTR"></span>
                                    <span dir="LTR"></span>
                                    <span dir="LTR" style="font-size:10.5pt;font-family:'Helvetica','sans-serif';color:#212121">
                                        <span dir="LTR"></span>
                                        <span dir="LTR"></span>.
                                        <o:p></o:p>
                                    </span>
                                </p>
                                <p class="MsoNormal" dir="RTL" style="margin-right:0in;margin-bottom:3.0pt;margin-left:15.0pt;text-align:right;text-indent:-.25in;background:white;vertical-align:baseline;direction:rtl;unicode-bidi:embed;">
                                    <!--[if !supportLists]-->
                                    <span style="font-size:10.5pt;font-family:'Helvetica','sans-serif';color:#212121;margin-right: 22px;">
                                        <span>2.
                                            <span style="font:7.0pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                                        </span>
                                    </span>
                                    <!--[endif]-->
                                    <span dir="RTL"></span>
                                    <span lang="AR-SA" style="font-size:10.5pt;font-family:'Times New Roman','serif';color:#212121">سترى نقطة زرقاء توضّح موقعك الحالي. إذا لم تشاهد النقطة الزرقاء، انتقل إلى الأسفل وانقر
                                        على موقعك الجغرافي</span>
                                    <span dir="LTR"></span>
                                    <span dir="LTR"></span>
                                    <span dir="LTR" style="font-size:10.5pt;font-family:'Helvetica','sans-serif';color:#212121">
                                        <span dir="LTR"></span>
                                        <span dir="LTR"></span>&nbsp;
                                        <img border="0" width="18" height="18" id="Picture_x0020_9" src="public/images/location.png" alt="الموقع">.</span>
                                    <span lang="AR-SA" style="font-size:10.5pt;font-family:'Times New Roman','serif';color:#212121">
                                        <o:p></o:p>
                                    </span>
                                </p>
                                <p class="MsoNormal" dir="RTL" style="margin-right:0in;margin-bottom:6.0pt;margin-left:0in;text-align:right;line-height:24.0pt;background:white;direction:rtl;unicode-bidi:embed;">
                                    <span lang="AR-SA" style="font-size:18.0pt;font-family:'Times New Roman','serif';color:#212121">الاطلاع على موقعك الحالي على الخريطة</span>
                                    <span dir="LTR" style="font-size:18.0pt;font-family:'Helvetica','sans-serif';color:#212121">
                                        <o:p></o:p>
                                    </span>
                                </p>
                                <p class="MsoNormal" dir="RTL" style="margin-right:0in;margin-bottom:3.0pt;margin-left:15.0pt;text-align:right;text-indent:-.25in;background:white;vertical-align:baseline;direction:rtl;unicode-bidi:embed;">
                                    <!--[if !supportLists]-->
                                    <span style="font-size:10.5pt;font-family:'Helvetica','sans-serif';color:#212121;margin-right: 22px;">
                                        <span>1.
                                            <span style="font:7.0pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                                        </span>
                                    </span>
                                    <!--[endif]-->
                                    <span dir="RTL"></span>
                                    <span lang="AR-SA" style="font-size:10.5pt;font-family:'Times New Roman','serif';color:#212121">على هاتف</span>
                                    <span dir="LTR"></span>
                                    <span dir="LTR"></span>
                                    <span lang="AR-SA" dir="LTR" style="font-size:10.5pt;font-family:'Helvetica','sans-serif';color:#212121">
                                        <span dir="LTR"></span>
                                        <span dir="LTR"></span>
                                    </span>
                                    <span lang="AR-SA" style="font-size:10.5pt;font-family:'Times New Roman','serif';color:#212121">آيفون</span>
                                    <span dir="LTR"></span>
                                    <span dir="LTR"></span>
                                    <span lang="AR-SA" dir="LTR" style="font-size:10.5pt;font-family:'Helvetica','sans-serif';color:#212121">
                                        <span dir="LTR"></span>
                                        <span dir="LTR"></span>
                                    </span>
                                    <span lang="AR-SA" style="font-size:10.5pt;font-family:'Times New Roman','serif';color:#212121">أو جهاز</span>
                                    <span dir="LTR"></span>
                                    <span dir="LTR"></span>
                                    <span lang="AR-SA" dir="LTR" style="font-size:10.5pt;font-family:'Helvetica','sans-serif';color:#212121">
                                        <span dir="LTR"></span>
                                        <span dir="LTR"></span>
                                    </span>
                                    <span dir="RTL"></span>
                                    <span dir="RTL"></span>
                                    <span lang="AR-SA" style="font-size:10.5pt;font-family:'Times New Roman','serif';color:#212121">
                                        <span dir="RTL"></span>
                                        <span dir="RTL"></span>&nbsp;آيباد ، افتح تطبيق خرائط</span>
                                    <span dir="LTR"></span>
                                    <span dir="LTR"></span>
                                    <span lang="AR-SA" dir="LTR" style="font-size:10.5pt;font-family:'Helvetica','sans-serif';color:#212121">
                                        <span dir="LTR"></span>
                                        <span dir="LTR"></span>
                                    </span>
                                    <span lang="AR-SA" style="font-size:10.5pt;font-family:'Times New Roman','serif';color:#212121">جوجل</span>
                                    <span dir="LTR"></span>
                                    <span dir="LTR"></span>
                                    <span dir="LTR" style="font-size:10.5pt;font-family:'Helvetica','sans-serif';color:#212121">
                                        <span dir="LTR"></span>
                                        <span dir="LTR"></span>&nbsp;
                                        <img border="0" width="18" height="18" id="Picture_x0020_12" src="public/images/map.png" alt="خرائط Google">.
                                        <o:p></o:p>
                                    </span>
                                </p>
                                <p class="MsoNormal" dir="RTL" style="margin-right:0in;margin-bottom:3.0pt;margin-left:15.0pt;text-align:right;text-indent:-.25in;background:white;vertical-align:baseline;direction:rtl;unicode-bidi:embed;">
                                    <!--[if !supportLists]-->
                                    <span style="font-size:10.5pt;font-family:'Helvetica','sans-serif';color:#212121;margin-right: 22px;">
                                        <span>2.
                                            <span style="font:7.0pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                                        </span>
                                    </span>
                                    <!--[endif]-->
                                    <span dir="RTL"></span>
                                    <span lang="AR-SA" style="font-size:10.5pt;font-family:'Times New Roman','serif';color:#212121">سترى نقطة زرقاء توضّح موقعك الحالي. وفي حال لم تشاهد النقطة الزرقاء، انتقل إلى الجانب
                                        الأيسر السفلي وانقر على موقعك</span>
                                    <span dir="LTR"></span>
                                    <span dir="LTR"></span>
                                    <span dir="LTR" style="font-size:10.5pt;font-family:'Helvetica','sans-serif';color:#212121">
                                        <span dir="LTR"></span>
                                        <span dir="LTR"></span>&nbsp;
                                        <img border="0" width="18" height="18" id="Picture_x0020_11" src="public/images/location.png" alt="الموقع">.
                                        <o:p></o:p>
                                    </span>
                                </p>
                                <p class="MsoNormal" dir="RTL" style="text-align:right;direction:rtl;unicode-bidi:embed;">
                                    <span dir="LTR" style="color:#1F497D">
                                        <o:p>&nbsp;</o:p>
                                    </span>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>