<div class="alert alert-success">
    <span style="font-weight:bold; color:red;">
        {{'LBL_TRNS_PAYMENT_NOT_PROCESSED' | i18n}}:
    </span>
    <br/>
    <br/>
    <span style="font-weight:bold; color:salmon;">
        {{'LBL_TRNS_COUNTRIES_NOT_PROCESSED' | i18n}}:
    </span>
    <ul>
        <li>{{'LBL_AFGHANISTAN' | i18n}}</li>
        <li>{{'LBL_GHANA' | i18n}}</li>
        <li>{{'LBL_KENYA' | i18n}}</li>
        <li>{{'LBL_MALAYSIA' | i18n}}</li>
        <li>{{'LBL_NIGERIA' | i18n}}</li>
        <li>{{'LBL_NORTH_KOREA' | i18n}}</li>
        <li>{{'LBL_PALESTINEAN_TERRITORIES' | i18n}}</li>
        <li>{{'LBL_THAILAND' | i18n}}</li>
        <li>{{'LBL_VIETNAM' | i18n}}</li>
    </ul>
    <div>
        <span style="font-weight:bold;">{{'LBL_YOU_WILL_REDIRECT_PAYMENT_GATEWAY' | i18n}}</span>
    </div>
</div>